# PyCity Schools Analysis

* A

* B

* C
---

In [10]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [15]:
# get totals,, sums and averages of starting data
school_count = len(school_data)
student_count = len(student_data)
total_budget = school_data["budget"].sum()
average_math_score = student_data["math_score"].mean()
average_reading_score = student_data["reading_score"].mean()

print(f"""
Number of Schools: {school_count:,}
Number of Students: {student_count:,}
Total Budget: {total_budget:,}
Average Math Score: {average_math_score}
Average Reading Score: {average_reading_score}""")

Number of Schools: 15
Number of Students: 39,170
Total Budget: 24,649,428
Average Math Score: 78.98537145774827
Average Reading Score: 81.87784018381414

In [33]:
# calculate percentage of students who passed math, reading, and both
# pass is a score of 70 or higher

# math
pass_math_count = student_data[student_data["math_score"] >= 70]["student_name"].count()
pass_math_percent = (pass_math_count / student_count) * 100

# reading
pass_reading_count = student_data[student_data["reading_score"] >= 70]["student_name"].count()
pass_reading_percent = (pass_reading_count / student_count) * 100

# both
pass_both_count = student_data[(student_data["math_score"] >= 70)
                               & (student_data["reading_score"] >= 70)]["student_name"].count()
pass_both_percent = (pass_both_count / student_count) * 100

print(f"""
Pass Math %: {pass_math_percent}
Pass Reading %: {pass_reading_percent}
Pass Both %: {pass_both_percent}""")

Pass Math %: 74.9808526933878
Pass Reading %: 85.80546336482001
Pass Both %: 65.17232575950983

In [34]:
# Summary DataFrame for district overall
district_summary = {"Total Schools": [school_count],
                    "Total Students": [f"{student_count:,}"],
                    "Total Budget": [f"${total_budget:,.2f}"],
                    "Average Math Score": [average_math_score],
                    "Average Reading Score": [average_reading_score],
                    "% Passing Math": [pass_math_percent],
                    "% Passing Reading": [pass_reading_percent],
                    "% Overall Passing": [pass_both_percent]}
district_summary_df = pd.DataFrame.from_dict(district_summary)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

## Highest-Performing Schools (by % Overall Passing)

## Bottom Performing Schools (By % Overall Passing)

## Math Scores by Grade

## Reading Score by Grade

## Scores by School Spending

## Scores by School Size

## Scores by School Type